<div class="{{#if parent_command}}sub{{/if}}command-data-container flex column small-gap" id="command-data-{{#if parent_command}}{{parent_command}}-{{/if}}{{name}}">
    <div class="command-basic-data command-data-section card flex column small-gap">
        <div class="command-data-name flex row borderless-card no-margin">
            <h3 class="command-name">p/{{#if parent_command}}{{parent_command}} {{/if}}{{name}}</h3>
            <div class="command-tags-container">
            {{#each tags}}
                <span class="command-tag">{{this}}</span>
            {{/each}}
            </div>
        </div>
        <hr>
        <span class="borderless-card little-padding command-data-description">{{long_description}}</span>
    </div>
    {{#if arguments}}
        <div class="command-arguments-data command-data-section card flex column small-gap">
            <h3 class="borderless-card little-padding command-data-usage">Arguments</h3>
            <hr>
            {{#each arguments}}
                <span class="borderless-card little-padding command-data-description no-margin"><b>{{this.name}}: </b><i>{{#if required}}required {{/if}}{{this.argType}}</i> - {{this.long_description}}</span>
            {{/each}}
        </div>
    {{/if}}
    <div class="command-usage-data command-data-section card flex column small-gap">
        <h3 class="borderless-card little-padding command-data-usage">Usage</h3>
        <hr>
        {{#each usage}}
            <span class="borderless-card little-padding command-data-description no-margin">{{this}}</span>
        {{/each}}
        {{#if argOrder}}
            <hr>
            <span class="borderless-card little-padding command-data-description no-margin">ARGUMENT ORDER: {{argOrder}}</span>
        {{/if}}
    </div>
    {{#if subcommands}}
        <div class="command-subcommands-data command-data-section card flex column small-gap">
            <h3 class="borderless-card little-padding command-data-usage">Subcommands</h3>
            <hr>
            <ul class="subcommands-list-container">
                {{#each subcommands}}
                    {{> createCommandCheckbox}}
                {{/each}}
            </ul>
        </div>
    {{/if}}
    {{#if meta}}
        <div class="command-meta-data command-data-section card flex column small-gap">
            <h3 class="borderless-card little-padding command-data-usage">Meta</h3>
            <hr>
            {{#each meta}}
                {{#if this}}
                    <span class="borderless-card little-padding command-data-description no-margin">{{@key}}: {{this}}</span>
                {{/if}}
            {{/each}}
        </div>
    {{/if}}
</div>