<noscript> <!-- TODO: find a way to do this without scripts, its probably possible? -->
    <style>
        .commands-sidebar {
            display: none;
        }
        .commands-data {
            display: none;
        }
    </style>
    <div class="card page-centered">
        <h3>this page is fairly useless without scripts, please use <code>p/help</code> for assistance with commands or preferrably enable scripts in your browser settings.</h3>
    </div>
</noscript>
<div class="card commands-sidebar">
    <span class="commands-title"><b>Commands</b></span>
    <hr>
    <ul class="commands-list-container">
        {{#each commands}}
            <li class="commands-list-item">
            <input type="checkbox" id="command-checkbox-{{name}}" class="command-checkbox" hidden {{#if isPreSelected}}checked{{/if}}>
            <label for="command-checkbox-{{name}}" class="command-label borderless-card hover-button card {{whitelistOnly}}">
                <span class="command-name">p/{{name}}</span>
                <div class="command-tags-container">
                {{#each tags}}
                <span class="command-tag">{{this}}</span>
                {{/each}}
                </div>
            </label>
            </li>
        {{/each}}
    </ul>
</div>
<div class="commands-data-list flex column">
    {{#each commands}}
        <div class="command-data card" id="command-data-{{name}}">
            <div class="command-label borderless-card no-margin">
                <h3 class="command-name">p/{{name}}</h3>
                <div class="command-tags-container">
                {{#each tags}}
                    <span class="command-tag">{{this}}</span>
                {{/each}}
            </div>
            </div>
            <hr>
            <span class="borderless-card little-padding">{{description}}</span>
        </div>
    {{/each}}
</div>
<script>
    const commandCheckboxes = document.querySelectorAll('.command-checkbox');
    const commandData = document.querySelectorAll('.command-data');

    // On page load, set display based on checkbox status
    commandCheckboxes.forEach((checkbox, index) => {
        commandData[index].style.display = checkbox.checked ? 'flex' : 'none';
    });

    commandCheckboxes.forEach((checkbox, index) => {
        checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
                commandData[index].style.display = 'flex';
            } else {
                commandData[index].style.display = 'none';
            }
        });
    });
</script>