<div class="card no-margin index-serving-info {{animateClass}}">
    <h1>PepperBot</h1>
    <p><i>serving {{users}} user{{usersPlural}} across {{guilds}} server{{guildsPlural}}</i></p>
</div>
<div class="card no-margin index-statistics {{animateClass}}">
    <h2>Statistics</h2>
    <div class="statistics-columns">
        {{#each statistics}}
            <div class="statistics-column">
                <h3>{{@key}}</h3>
                {{#each this}}
                    <p>{{@key}}: {{this}}</p>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>