<h1>{{guildName}}</h1>
<p><i>queue for {{guildName}}</i></p>
<form action="/addToQueue" method="get" class="add-form">
    <input type="hidden" name="queueId" value="{{queueId}}">
    <input type="text" name="url" placeholder="Enter URL" required>
    <button type="submit" class="add-button">Add</button> <!-- probably should change this to a simple + svg or something but im not doin styling rn -->
</form>
<form action="/clearQueue" method="get" class="add-form">
    <input type="hidden" name="queueId" value="{{queueId}}">
    <button type="submit" class="add-button">Clear</button> <!-- probably should change this to a simple svg or something but im not doin styling rn -->
</form>
<form action="/shuffleQueue" method="get" class="add-form">
    <input type="hidden" name="queueId" value="{{queueId}}">
    <button type="submit" class="add-button">Shuffle</button> <!-- probably should change this to a simple svg or something but im not doin styling rn -->
</form>
{{#if queue}}
    <ul class="queue">
        {{#each queue}}
        <li class="queue-item">
            {{#if this.isPlaying}}<b>{{/if}}
            {{this.index}}
            {{#if this.url}}
                <a href="{{this.url}}">{{this.name}}</a>
            {{else}}
                file: {{this.name}}
            {{/if}}
            {{#if this.isPlaying}}</b>{{/if}}
            <form action="/removeFromQueue" method="get" class="remove-form">
                <input type="hidden" name="index" value="{{this.index}}">
                <input type="hidden" name="queueId" value="{{../queueId}}">
                <button type="submit" class="remove-button">Remove</button> <!-- probably should change this to a simple X svg or something but im not doin styling rn -->
            </form>
        </li>
        {{/each}}
    </ul>
{{else}}
    <p>Queue is empty.</p>
{{/if}}