<div class="flex column page-centered centered some-padding small-gap" id="statistics-page">
    <div id="statistics-header">
        <a href="/" class="card spinny-button side-padding pointer">← back</a>
        <h1 class="card side-padding statistics-title">Statistics</h1>
        <div class="spacer"></div>
    </div>

    <div class="flex row wrap small-gap centered" id="overview-stats">
        <div class="card some-padding">
            <h3 class="no-margin">Total Commands</h3>
            <p class="no-margin darkened-text">{{totalCommands}}</p>
        </div>
        <div class="card some-padding">
            <h3 class="no-margin">GPT Responses</h3>
            <p class="no-margin darkened-text">{{totalGptResponses}}</p>
        </div>
        <div class="card some-padding">
            <h3 class="no-margin">Piped Commands</h3>
            <p class="no-margin darkened-text">{{totalPipedCommands}}</p>
        </div>
        <div class="card some-padding">
            <h3 class="no-margin">Servers</h3>
            <p class="no-margin darkened-text">{{guilds}}</p>
        </div>
    </div>

    <hr>

    <div class="no-margin small-gap" id="stats-columns">
        <div class="flex column small-gap" id="left-column">
            <div class="card some-padding">
                <h2 class="no-margin">Invoker Types</h2>
                <div class="stats-container" id="invoker-usage">
                    <div class="stats-content">
                        {{#each invokerUsage}}
                        <div class="stat-row">
                            <div class="stat-name">{{this.type}}</div>
                            <div class="stat-value">{{this.count}}</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="card some-padding" id="command-usage-container">
                <h2 class="no-margin">Command Usage</h2>
                <div class="stats-container scrollable" id="command-usage">
                    <div class="stats-content">
                        {{#each commandUsage}}
                        <div class="stat-row">
                            <div class="stat-name">{{this.[0]}}</div>
                            <div class="stat-value">{{this.[1]}}</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class="vl stats-column-divider"></div>

        <div class="flex column small-gap" id="right-column">
            <div class="card some-padding">
                <h2 class="no-margin">Model Usage</h2>
                <div class="stats-container" id="model-usage">
                    <div class="stats-content">
                        {{#if modelUsage}}
                        {{#each modelUsage}}
                        <div class="stat-row">
                            <div class="stat-name">{{this.[0]}}</div>
                            <div class="stat-value">{{this.[1]}}</div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="stat-row">
                            <div class="stat-name darkened-text">No AI models used yet</div>
                            <div class="stat-value"></div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="card some-padding" id="execution-times-container">
                <h2 class="no-margin">Avg Execution Times</h2>
                <div class="stats-container scrollable" id="execution-times">
                    <div class="stats-content">
                        {{#each avgExecutionTimes}}
                        <div class="stat-row">
                            <div class="stat-name">{{@key}}</div>
                            <div class="stat-value">{{this}}ms</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
